body {
    margin: 0;
    min-height: 100vh;
}

body, div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grandparent {
    width: 300px;
    height: 300px;
    background-color: #ff6347; /* Tomato */
}

.parent {
    width: 200px;
    height: 200px;
    background-color: #4682b4; /* SteelBlue */
}

.child {
    width: 100px;
    height: 100px;
    background-color: #32cd32; /* LimeGreen */
}
